<a href="https://colab.research.google.com/github/sebakrys/data-science-bootcamp-A-Z/blob/main/04_pandas_pt1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [2]:
import pandas as pd
pd.__version__

'2.1.4'

## Series

In [3]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [4]:
s = pd.Series(data=[3, 2, 4, 6], index=["a", "b", "c", "d"], name="Sample")
s

a    3
b    2
c    4
d    6
Name: Sample, dtype: int64

In [5]:
s = pd.Series(data=[3., 2, 4, 6], index=["a", "b", "c", "d"], name="sample")
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [6]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=["a", "b", "c", "d"], name="sample")
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [7]:
s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [8]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [9]:
list(s.index)

[Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-02 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2020-01-04 00:00:00'),
 Timestamp('2020-01-05 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2020-01-07 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2020-01-10 00:00:00')]

In [10]:
s = pd.Series(data=['python', 'java', 'c++', 'sql'], name='languages')
s

0    python
1      java
2       c++
3       sql
Name: languages, dtype: object

In [11]:
type(s)

pandas.core.series.Series

In [12]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
s.values

array(['python', 'java', 'c++', 'sql'], dtype=object)

In [14]:
s.dtypes

dtype('O')

In [15]:
s.shape

(4,)

In [16]:
price = pd.Series(data={'Apple':200, 'CD Projekt':60, 'Amazon':1900, 'KGHM':np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [17]:
price['CD Projekt']

60.0

In [18]:
print(price[1])

60.0

<ipython-input-18-c91d6da71123>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(price[1])

In [19]:
print(price.iloc[1])

60.0

In [20]:
price.count()

3

In [21]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
Name: count, dtype: int64

In [22]:
price.sum()

2160.0

In [23]:
price.min()

60.0

In [24]:
price.std()

1024.3046421841502

In [25]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [26]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [27]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [28]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [29]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [30]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [31]:
price.apply(lambda x: x * 3.8)

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [32]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

## DataFrame

In [33]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [34]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [35]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN', 'PKO BP'],
                        'mWIG20':['Amica', 'Playway']})
df

       WIG20   mWIG20
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [36]:
df = pd.DataFrame(data=[[12, 12, 32], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

In [37]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [38]:
df.index

Index(['first', 'second'], dtype='object')

In [39]:
df.values

array([[12, 12, 32],
       [23, 12, 10]])

In [40]:
df.info

<bound method DataFrame.info of         col_1  col_2  col_3
first      12     12     32
second     23     12     10>

In [41]:
df.describe()

           col_1  col_2      col_3
count   2.000000    2.0   2.000000
mean   17.500000   12.0  21.000000
std     7.778175    0.0  15.556349
min    12.000000   12.0  10.000000
25%    14.750000   12.0  15.500000
50%    17.500000   12.0  21.000000
75%    20.250000   12.0  26.500000
max    23.000000   12.0  32.000000

In [43]:
df.describe().T

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  17.5   7.778175  12.0  14.75  17.5  20.25  23.0
col_2    2.0  12.0   0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  21.0  15.556349  10.0  15.50  21.0  26.50  32.0