<a href="https://colab.research.google.com/github/sebakrys/data-science-bootcamp-A-Z/blob/main/04_pandas_pt1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [1]:
import pandas as pd
pd.__version__

'2.1.4'

## Series

In [2]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3, 2, 4, 6], index=["a", "b", "c", "d"], name="Sample")
s

a    3
b    2
c    4
d    6
Name: Sample, dtype: int64

In [7]:
s = pd.Series(data=[3., 2, 4, 6], index=["a", "b", "c", "d"], name="sample")
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [9]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=["a", "b", "c", "d"], name="sample")
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [10]:
s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [16]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [18]:
list(s.index)

[Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-02 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2020-01-04 00:00:00'),
 Timestamp('2020-01-05 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2020-01-07 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2020-01-10 00:00:00')]

In [20]:
s = pd.Series(data=['python', 'java', 'c++', 'sql'], name='languages')
s

0    python
1      java
2       c++
3       sql
Name: languages, dtype: object

In [21]:
type(s)

pandas.core.series.Series

In [22]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
s.values

array(['python', 'java', 'c++', 'sql'], dtype=object)

In [25]:
s.dtypes

dtype('O')

In [26]:
s.shape

(4,)

## DataFrame